<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Aplikasi CRUD Python Menggunakan Flask</h1>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Kode Barang</th>
            <th>Nama Barang</th>
            <th>Harga</th>
            <th>Jumlah</th>
            <th>Aksi</th>
        </tr>
        </thead>
        <tbody>
        {% for barang in barang %}
        <tr>
            <td>{{ barang[0] }}</td>
            <td>{{ barang[1] }}</td>
            <td>{{ barang[2] }}</td>
            <td>{{ barang[3] }}</td>
            <td>
                <a href="/edit/{{ barang[0] }}" class="btn btn-primary btn-sm">Ubah</a>
                <form action="/hapus/{{ barang[0] }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Hapus</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/tambah" class="btn btn-primary">Tambah Barang</a>
</div>
</body>
</html>
